<% form({method: :post}, {obj: @parameters}) do |f|%>
  <div class="grid-x margin-x">
    <div class="large-12 cell">
        <%=f.input(:name, type: :text, label: 'Название фильма', placeholder: 'Фильм 1')%>
    </div>
    <div class="large-12 cell">
        <%=f.input(:year, type: :text, label: 'Год выхода', placeholder: 2021)%>
    </div>
    <div class="large-12 cell">
        <%=f.input(:genre, type: :text, label: 'Жанр фильма', placeholder: 'Вестерн')%>
    </div>
    <div class="large-12 cell">
        <%=f.input(:duration, type: :text, label: 'Продолжительность', placeholder: 120)%>
    </div>
    <div class="large-12 cell">
        <%=f.input(:description, type: :text, label: 'Описание', placeholder: 'Хороший фильм')%>
    </div>
    <div class="large-12 cell">
        <%=f.button(value: form_type, class: 'button')%>
        <a href="<%= back_location %>" class="button secondary">Отмена</a>
    </div>
  </div>
<%end%>